.App {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  text-align: center;
  padding: 20px;
  width: 100vw;
}

.sheet {
  background-color: rgb(255, 255, 255);
  border: 10px solid gray;
  border-radius: 20px;
  min-height: 100px;
  width: 700px;
  height: 900px;
}

.all {
  display : grid;
  grid-template-columns : 1fr 1fr 1fr;
  justify-items: center;
  width: 97%;
  height: 100%;
  padding: 10px;
}

/* 달력 */
.calender {
  display: grid;
  grid-template-rows: 50px 50px 50px;
  grid-template-columns: 50px 50px 50px;
  grid-gap: 20px;
  background-color: gray;
}

#num1 {
  background-color: aliceblue;
  margin: 10px;
}